body {
    background: #fff;
    color: #000;
    padding: 0% 15%;
    text-align: justify;
}

h1 {
    text-align: center;
    padding: 2ex 0;
}

h2 {
    padding: 1ex 0;
}

p {
    margin-left: 2em;
}

.center
{
        text-align: center;
}
