Source: strid
Section: devel
Priority: extra
Maintainer: Samuel Mimram <smimram@debian.org>
Build-Depends: debhelper (>= 5), ocaml (>= 3.08), ocaml-findlib, menhir, libocamlgsl-ocaml-dev (>= 0.5.1)
Standards-Version: 3.7.2

Package: strid
Architecture: any
Depends: ${shlibs:Depends}
Description: a string diagrams generator
 strid is a string diagrams generators for inclusion into LaTeX files.
